:root {
  --bgwidth: 640px;
  --bgheight: 360px;
  --shift: 0px;
  --display: none;
}
body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#menu {
  /* display: none; */
  width: calc(var(--bgwidth) * 1px);
  height: calc(var(--bgheight) * 1px);
}
#menu.main {
  width: calc(var(--bgwidth) * 1px);
  height: calc(var(--bgheight) * 1px);
}
#main {
  background-size: cover;
  height: calc(var(--bgheight) * 1px);
  width: calc(var(--bgwidth) * 1px);
  position: absolute;
  top: var(--bgheight) / 2;
  left: calc(var(--shift) * 1px);
  text-decoration: none;
}
.button {
  display: block;
  width: var(--bgwidth);
  margin: 0 auto;
  height: 75px;
  line-height: 60px;
  text-decoration: none;
  font-family: cursive;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 10px;
  word-spacing: 15px;
  border: 1px solid hsla(0, 0%, 5%, 0);
  color: white;
  font-weight: bold;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  background-color: hsla(60, 2%, 8%, 0.485);
  background-image: -webkit-linear-gradient(
    bottom,
    hsla(60, 2%, 8%, 0.485) 0%,
    hsla(60, 2%, 8%, 0.485) 100%
  );
  background-image: linear-gradient(
    to bottom,
    hsla(60, 2%, 8%, 0.485) 0%,
    hsla(60, 2%, 8%, 0.485) 100%
  );
  border-radius: 5px;
  position: relative;
  top: calc(var(--bgheight) / 2 * 1px);
}
.button:hover {
  color: rgb(243, 220, 190);
  background-color: #5c595a65;
  background-image: -webkit-linear-gradient(
    bottom,
    #757575c6 0%,
    #757575c6 100%
  );
  background-image: linear-gradient(to bottom, #757575c6 0%, #757575c6 100%);
}
#game-over {
  display: var(--display);
  width: calc(var(--bgwidth) * 1px);
  height: calc(var(--bgheight) * 1px);
}

@keyframes move {
  0% {
    transform: translate(var(--x-position), var(--y-position));
  }
  100% {
    transform: translate(200%);
  }
}
